<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NewPerson</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Enter yours full name:</label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName error</div>
    <br/>
    <label for="birthYear">Enter yours Year of Birth:</label>
    <input type="text" th:field="*{birthYear}" id="birthYear">
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">birthYear error</div>
    <br/>
    <input type="submit" value="Create!">
</form>

</body>
</html>