<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Make admin</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}" >
    <label for="person">Select person</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>

        <input type="submit" value="Set admin"/>
    </select>
</form>

</body>
</html>